.course{
  display: flex;
  flex-direction: column;

}
.title{
  margin-bottom: 1.5rem;
}
.card{
  border: 1px solid rgb(210, 210, 210);
  background: white;
  border-radius: var(--rounded);
  padding: 3.875rem 4rem 4.125rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  margin-bottom: 2.875rem;
}
.description{
  border-right: 1px solid #CFCFCF;
  padding-right: 2rem;
}
.descriptionLabel{
  margin-bottom: 1.5rem;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.listItem{
  font-size: var(--fs-lg);
}
.button{
  align-self: flex-end;
}
.error {
  text-align: center;
}
